<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
	
            <jet_carrier>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Kitchen365\JetCarrier\Model\Carrier\JetCarrier</model>
                <name>Jet Carrier</name>
                <package_max_weight>200</package_max_weight>
                <title>Jet Carrier</title>
                <type>I</type>
                <sort_order>0</sort_order>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </jet_carrier>
			
        </carriers>
    </default>
</config>